name: Build APK

on:
  push:
    branches: [ "main" ] # تأكد أن اسم الفرع عندك هو main
  workflow_dispatch: # هذا السطر سيسمح لك بتشغيل البناء يدوياً

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: C-Master-Final-App
          path: build/app/outputs/flutter-apk/app-release.apk
